@import '../public/styles.css';

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.astro {
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #aaa;
  }

  &__clock {
    font-size: 2rem;
    color: #fff;
    font-size: 10em;
    font-weight: 500;
  }
}

.is-active {
  display: block;
}
